// ==========================================================================
// Mixins
// ==========================================================================

@mixin border-radius($radius)
{
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin bgtransparent()
{
    background:rgba(255,255,255,0.3);

}

@mixin vertical-align-center()
{
    display:flex;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;

}

@mixin br-top()
{
    border-radius:0!important;
    border-top-left-radius: $little_radius !important;
    border-top-right-radius: $little_radius !important;
}

@mixin border-shadow()
{
    -webkit-box-shadow: 0px 5px 10px 0px rgba(122,122,122,0.4);
    -moz-box-shadow: 0px 5px 10px 0px rgba(122,122,122,0.4);
    box-shadow: 0px 5px 10px 0px rgba(122,122,122,0.4);
}

@mixin transition($duration)
{
    -webkit-transition: all $duration ease-in;
    -moz-transition: all $duration ease-in;
    -o-transition: all $duration ease-in;
    transition: all $duration ease-in;
}


@mixin mediumsize()
{
    font-size:1.3rem;
    line-height:2rem;
}