// ==========================================================================
// Variables
// ==========================================================================



$lightblue: #35A0D8;
$darkblue: #1d70af;
$mauve:#2d2e80;
$green:#22ad73;
$darkgreen:#009661;
$fushia:#CB295F;
$darkfushia:#b01a48;
$darkgrey:#555;/*666666;*/
$lightgrey:#f7f7f7;
$mediumgrey:#cccccc;/*dee2e6;*/
$yellow: #f39c12;
$red:#dd4b39;
$color-alert:$red;
$softblue:#edf9ff;
$default_radius:30px;
$little_radius:10px;
