

/*login page*/
.login h1 a {

    background: url('../images/logo.png') left no-repeat;
    background-size:200px;
    width:100%;
    margin:0;
}

body.login {
    background-image: url('../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% auto;
}
#login > h1
{
    background:white;
}
#loginform
{
    margin-top:0;
}


p#backtoblog {
    display: none;
}

.login label {
    font-size: 12px;
    color: #555555;
}

.login input[type="text"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login input[type="password"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login form
{
    padding:26px 24px 15px;
}

.login #nav
{
    background:white;
    margin:0;
    padding:10px 30px;
}