#page.privatearea {
    background-color: #333;
    font-family: "nimbus-sans", sans serif;
}

#page.privatearea .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%
}

#page.privatearea .sitename {
    color: white;
    font-size: 20px;
    font-weight: 800
}

#page.privatearea .left-sidebar,
#page.privatearea .sidebar-footer,
#page.privatearea .navbar-header {
    width: 280px
}

#page.privatearea .page-wrapper {
    margin-left: 280px
}

#page.privatearea .topbar {
    background: #1d70af
}

#page.privatearea .sidebar-nav>ul>li.active>a,
#page.privatearea .sidebar-nav>ul>li.active:hover>a {
    background: #35a0d8
}

#page.privatearea .sidebar-nav ul li a.active,
#page.privatearea .sidebar-nav ul li:not(.active) a:hover {
    color: #1d70af
}

#page.privatearea .sidebar-nav li {
    position: relative
}

#page.privatearea .sidebar-nav li.active {
    color: white
}

#page.privatearea .sidebar-nav li:not(.active):hover:before {
    color: #1d70af
}

#page.privatearea .sidebar-nav li:before {
    font: normal normal normal 24px/1 "Material Design Icons";
    width: 27px;
    height: 27px;
    font-size: 21px;
    padding-right: 5px;
    left: 20px;
    top: 7px;
    position: absolute
}

#page.privatearea .sidebar-nav li a {
    padding-left: 50px !important
}

#page.privatearea .btn-primary,
#page.privatearea .sengine-form .form-row>div .form-group button[type="submit"],
.sengine-form .form-row>div .form-group #page.privatearea button[type="submit"],
#page.privatearea .inner_sengine #prod_selector #prod_wrapper .nice-select,
.inner_sengine #prod_selector #prod_wrapper #page.privatearea .nice-select,
#page.privatearea .gform_wrapper input[type="submit"],
.gform_wrapper #page.privatearea input[type="submit"],
#page.privatearea .gform_wrapper .gform_fileupload_multifile .gform_drop_area .gform_button_select_files,
.gform_wrapper .gform_fileupload_multifile .gform_drop_area #page.privatearea .gform_button_select_files,
#page.privatearea .btn-primary:hover,
#page.privatearea .sengine-form .form-row>div .form-group button[type="submit"]:hover,
.sengine-form .form-row>div .form-group #page.privatearea button[type="submit"]:hover,
#page.privatearea .inner_sengine #prod_selector #prod_wrapper .nice-select:hover,
.inner_sengine #prod_selector #prod_wrapper #page.privatearea .nice-select:hover,
#page.privatearea .gform_wrapper input[type="submit"]:hover,
.gform_wrapper #page.privatearea input[type="submit"]:hover,
#page.privatearea .gform_wrapper .gform_fileupload_multifile .gform_drop_area .gform_button_select_files:hover,
.gform_wrapper .gform_fileupload_multifile .gform_drop_area #page.privatearea .gform_button_select_files:hover {
    color: white
}

#page.privatearea .btn-primary,
#page.privatearea .sengine-form .form-row>div .form-group button[type="submit"],
.sengine-form .form-row>div .form-group #page.privatearea button[type="submit"],
#page.privatearea .inner_sengine #prod_selector #prod_wrapper .nice-select,
.inner_sengine #prod_selector #prod_wrapper #page.privatearea .nice-select,
#page.privatearea .gform_wrapper input[type="submit"],
.gform_wrapper #page.privatearea input[type="submit"],
#page.privatearea .gform_wrapper .gform_fileupload_multifile .gform_drop_area .gform_button_select_files,
.gform_wrapper .gform_fileupload_multifile .gform_drop_area #page.privatearea .gform_button_select_files,
#page.privatearea .btn-primary:hover,
#page.privatearea .sengine-form .form-row>div .form-group button[type="submit"]:hover,
.sengine-form .form-row>div .form-group #page.privatearea button[type="submit"]:hover,
#page.privatearea .inner_sengine #prod_selector #prod_wrapper .nice-select:hover,
.inner_sengine #prod_selector #prod_wrapper #page.privatearea .nice-select:hover,
#page.privatearea .gform_wrapper input[type="submit"]:hover,
.gform_wrapper #page.privatearea input[type="submit"]:hover,
#page.privatearea .gform_wrapper .gform_fileupload_multifile .gform_drop_area .gform_button_select_files:hover,
.gform_wrapper .gform_fileupload_multifile .gform_drop_area #page.privatearea .gform_button_select_files:hover {
    background: #35a0d8;
    color: white;
    box-shadow: none;
    border: none
}

#page.privatearea .btn-secondary,
#page.privatearea #sidebar_right .gform_footer input[type='submit'],
#sidebar_right .gform_footer #page.privatearea input[type='submit'],
#page.privatearea .btn-secondary:hover,
#page.privatearea #sidebar_right .gform_footer input[type='submit']:hover,
#sidebar_right .gform_footer #page.privatearea input[type='submit']:hover {
    background: #009661;
    color: white;
    box-shadow: none;
    border: none
}

#page.privatearea .btn-default {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad
}

#page.privatearea textarea {
    width: 100%
}

#page.privatearea .badge {
    color: inherit
}

#page.privatearea .gform_wrapper ul.gfield_checkbox li label,
#page.privatearea .gform_wrapper ul.gfield_radio li label {
    padding-left: 25px
}

#page.privatearea .modal-dialog {}

#page.privatearea .wpb_wrapper img {
    max-width: 100%;
    max-height: 100%
}

#page.privatearea #member_menu li {
    list-style: none
}

#page.privatearea .member-msg {
    background: #fff3cd;
    padding: 20px
}

#page.privatearea #members_stats {
    margin: 20px 0
}

#page.privatearea #members_stats .tab-content>.active {
    display: flex
}

#page.privatearea #members_stats .nav.nav-pills li a {
    background: #f7f7f7;
    padding: 5px 20px;
    display: block;
    text-decoration: none
}

#page.privatearea #members_stats .nav.nav-pills li.active a,
#page.privatearea #members_stats .nav.nav-pills a.active {
    background: #35a0d8;
    color: white
}

#page.privatearea #members_stats .small-box .wrapper {
    padding: 20px;
    position: relative;
    margin: 10px 0;
    min-height: 103px
}

#page.privatearea #members_stats .small-box .wrapper .stattext {
    color: white;
    font-size: 1rem
}

#page.privatearea #members_stats .small-box .wrapper .statval {
    color: white;
    margin: 0;
    line-height: 3rem;
    font-size: 3rem
}

#page.privatearea #members_stats .small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: 10px;
    right: 14px;
    z-index: 0;
    color: rgba(0, 0, 0, 0.15)
}

#page.privatearea #members_stats .small-box .icon i,
#page.privatearea #members_stats .small-box .icon i:before {
    font-size: 90px
}

#page.privatearea .gv-container-79 .badge {
    text-align: left
}

#page.privatearea .gv-container-79 .gv-table-view th,
#page.privatearea .gv-container-79 .gv-table-view td {
    padding: 10px
}

#page.privatearea .gv-container-79 tfoot {
    display: none
}

#page.privatearea .proposal_box {
    padding: 20px;
    text-align: center;
    background: #ccc;
    margin-bottom: 40px
}

#page.privatearea .gv-table-view.gv-table-container.gv-table-single-container.gv-container {
    padding: 20px;
    border: 1px solid #ccc
}

#page.privatearea .gv-table-view.gv-table-container.gv-table-single-container.gv-container ul {
    padding-left: 16px
}

#page.privatearea .gv-table-view {
    font-size: 0.9rem
}

#page.privatearea .gv-table-view .gv-field-label {
    font-size: 0.9rem
}

#page.privatearea .gv-back-link {
    margin-top: 20px
}

#page.privatearea .gv-widget-search.gv-search-horizontal {
    padding: 15px 0px;
    margin: 0 !important
}

#page.privatearea .gv-widget-search.gv-search-horizontal .gv-search-box {
    margin: 0 !important
}

#page.privatearea .gv-search-field-select select,
#page.privatearea .gv-search-field-select input {
    padding: 5px 10px;
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545
}

#page.privatearea .bg-aqua {
    background-color: #35a0d8;
    color: white
}

#page.privatearea .bg-aqua-light {
    background-color: #edf9ff
}

#page.privatearea .bg-green {
    background-color: #22ad73
}

#page.privatearea .bg-yellow {
    background-color: #f39c12
}

#page.privatearea .bg-red {
    background-color: #dd4b39
}

#page.privatearea .grecaptcha-badge {
    display: none
}

#page.privatearea .wpb_wrapper label.error {
    color: #a94442
}

#page.privatearea .wpb_wrapper input.error {
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-color: #ebcccc;
    color: #a94442
}

#page.privatearea #edituser .extrafields {
    display: none
}

#page.privatearea .progress {
    background: transparent;
    margin-top: 5px
}

#page.privatearea .progress .bar {
    height: 18px;
    background: #35a0d8
}

#page.privatearea .fa.fa-upload {
    margin-right: 8px
}

#page.privatearea #fileupload.error {
    border: 1px solid red
}

#page.privatearea label.error {
    color: red
}

#page.privatearea #stickymsgbox {
    position: fixed;
    top: 0;
    z-index: 999999;
    left: 45%;
    padding: 5px 20px
}

#page.privatearea button.delete {
    background: transparent;
    border: none;
    outline: none
}

#page.privatearea .btn-file {
    position: relative;
    overflow: hidden
}

#page.privatearea .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block
}
