
:root,body,html
{
    font-family: "nimbus-sans",sans-serif;
    color:$darkgrey;
    font-weight:400;
}

body
{
    overflow-x:hidden;
}

h1, h2, h3, h4, h5, h6
{
    color:$darkgrey;
}

h1
{
    font-size:2.1rem;/*1.9*/
    font-weight:700;
    /*font-size: 2.5rem;
font-weight:600;*/
}

h2,.h2
{
    font-size: 2.2rem;
    font-weight:200;
}

h3,.h3
{
    font-size:1.2rem;
    font-weight:600;

    a, a:hover
        {
        color:$darkgrey;
        text-decoration:none;
    }
}

h4
{
    font-size:1rem;
    font-weight:bold;
}

.alert
{
    margin:0;
    padding:20px;
    text-align:center;
}

.small-font
{
    font-size:0.9rem;
}

.clearfix
{
    clear:both
}

a
/*a:not([href]):not([tabindex])*/
{
    color:$lightblue;

    &.wa
    {
        position:relative;
        &:after
            {
            border-bottom: 1px solid $lightblue;
            border-right: 1px solid $lightblue;
            content: '';
            display: block;
            height: 5px;
            margin-top: -3px;
            pointer-events: none;
            position: absolute;
            right: -13px;
            top: 50%;
            transform-origin: 66% 66%;
            transform: rotate(-45deg);
            transition: all 0.15s ease-in-out;
            width: 5px;
        }
    }
    &:hover
        {
        color:$lightblue;
    }
}

*:focus,button,.btn {
    outline: 0!important;
    outline-style: none;
    box-shadow:none!important;
}

strong
{
    font-weight:700;
}


.row, section {
  /*  max-width:100%!important*/
}

    
.hidden
{
    display:none;
}

.heading
{
    @extend h2;
    line-height:2.5rem;
}

.bggrey
{
    background:$lightgrey;
}

.bgmediumgrey
{
    background:$mediumgrey;
}

.bg-aqua
{
    background-color: $lightblue;
    color:white;
}
.bg-aqua-light
{
    background-color: $softblue;
}

.bg-green
{
    background-color: $green;
}

.bg-yellow
{
    background-color: $yellow;
}

.bg-red
{
    background-color: $red;
}


/*recaptcha*/
.grecaptcha-badge
{
    display:none;
}


/*override visual composer*/
.wpb_content_element, ul.wpb_thumbnails-fluid > li, .wpb_button
{
    margin-bottom:0!important;
}

.col-sm-12 .container
{
    padding:0;
}

/*override nice select */
.nice-select
{
    height:auto;
    float:none;
    border-radius:0;
    color:$lightblue;
    font-size:inherit;
    box-shadow:none!important;

    .list
    {
        width:100%;
    }

    &:after
        {
        border-bottom-color:$lightblue;
        border-right-color:$lightblue;
        height: 9px;
        width:9px;
        right:18px;
        border-width:1px;
    }

    .list
    {
        max-height: 300px;
        overflow-y: scroll;
    }

}




/*override bootstrap*/

.bar
{
    background:$lightblue;
}
.collapse.show
{
    display:block!important;
}
.close
{
    position:absolute;
    top:20px;
    right:20px;
}

@media (min-width:1200px) {
    .container-lg {
        padding-left:10vw;
        padding-right:10vw;
        /*max-width:1500px;
        margin:auto;*/
    }
}

*:focus {
    outline: none;
}

textarea,input,select,
{
    box-shadow:none!important;
}

.modal-dialog
{
    margin-top:10rem!important;


    .modal-content
    {
        border:none;
        @include border-radius($default_radius);
        -moz-box-shadow: 0px 0px 0px 7px rgba(255,255, 255, 0.3);
        -webkit-box-shadow: 0px 0px 0px 7px rgba(255,255, 255, 0.3);
        -o-box-shadow: 0px 0px 0px 7px rgba(255,255, 255, 0.3);
        box-shadow: 0px 0px 0px 7px rgba(255,255, 255, 0.3);
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#ffffff, Direction=NaN, Strength=0);

        .modal-header
        {
            border:none;
            h3
            {
                width:100%;
            }
        }

        .modal-body
        {

            textarea
            {
                width:100%;
                border:1px solid #ccc;

            }
            .controls
            {
                margin-top:20px;
                .btn
                {
                    &.btn-primary
                    {
                        color:white;
                    }
                    margin-right:10px;
                }
            }

            #loginBox
            {
                padding:0 20px;

                .form-control
                {
                    padding:1rem .75rem;
                }
                #username
                {
                    border-radius:0;
                    border-bottom:0;
                    border-top-left-radius:.25rem!important;border-top-right-radius:.25rem!important
                }
                #password
                {
                    border-radius:0;
                    border-bottom-left-radius:.25rem!important;border-bottom-right-radius:.25rem!important
                }

                .ajax-button{

                }
                .submitlogin{
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    width:100px;
                    height:40px;
                    background-color:#111111;
                    border:2px solid #FFFFFF;
                    border-radius:10px;
                    color:#FFFFFF;
                    font-size:17px;
                    cursor:pointer !important;
                    outline:none;
                }

                .submitlogin:hover{
                    background-color:#222222;
                }
                .loading{
                    font-size:0;
                    width:30px;
                    height:30px;
                    margin-top:5px;
                    border-radius:15px;
                    padding:0;
                    border:3px solid #FFFFFF;
                    border-bottom:3px solid rgba(255,255,255,0.0);
                    border-left:3px solid rgba(255,255,255,0.0);
                    background-color:transparent !important;
                    animation-name: rotateAnimation;
                    -webkit-animation-name: wk-rotateAnimation;
                    animation-duration: 1s;
                    -webkit-animation-duration: 1s;
                    animation-delay: 0.2s;
                    -webkit-animation-delay: 0.2s;
                    animation-iteration-count: infinite;
                    -webkit-animation-iteration-count: infinite;
                    display:block;
                    margin:auto;
                }

                @keyframes rotateAnimation {
                    0%   {transform: rotate(0deg);}
                    100% {transform: rotate(360deg);}
                }
                @-webkit-keyframes wk-rotateAnimation {
                    0%   {-webkit-transform: rotate(0deg);}
                    100% {-webkit-transform: rotate(360deg);}
                }

                .fa{
                    color:#ffffff;
                    font-size:18px !important;
                    position:absolute;
                    left:50%;
                    top:50%;
                    margin-left:-9px;
                    margin-top:-9px;
                    -webkit-transform:scaleX(0) !important;
                    transform:scaleX(0) !important;
                }

                .finish{
                    -webkit-transform:scaleX(1) !important;
                    transform:scaleX(1) !important;
                }
                .hide-loading{
                    opacity:0;
                    -webkit-transform: rotate(0deg) !important;
                    transform: rotate(0deg) !important;
                    -webkit-transform:scale(0) !important;
                    transform:scale(0) !important;
                }


            }
        }
        .modal-footer
        {
            display:none;
        }

    }
}


.navbar-nav
{

    flex-direction: row !important;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}

.rounded-left
{
    border-top-left-radius: $default-radius !important;
    border-bottom-left-radius: $default-radius !important;
}

.rounded-right
{
    border-top-right-radius: $default-radius !important;
    border-bottom-right-radius: $default-radius !important;
}

.text-primary
{
    color:$lightblue!important;
}

.clearfix
{
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.btn
{

    @include border-radius($default_radius);
    padding:.7rem 1rem;
    color:white;

    &.checked
    {
        background:$green!important;
        color:white!important;
        border-color:$green!important;
    }

}

.btn-grey
{
    background:$mediumgrey;
    color:white;
    &:hover
        {
        color:white
    }
}
.btn-wp
{
    padding-left: 4rem;
    padding-right:4rem;
}

.btn-primary,.btn-secondary,.btn-fushia, .btn-light,.btn-default
{
    color:white;
}
.btn-primary,.btn-default
{
    background-color:$lightblue;
    border-color: $lightblue;
    color:white;
}

.btn-primary:hover,.btn-default:hover
{
    background-color:$darkblue;
    border-color:$darkblue;
    color:white;

}

.btn-secondary
{
    background-color:$green;
    border-color: $green;
}

.btn-secondary:hover
{
    background-color:$darkgreen;
    border-color: $darkgreen;
}

.btn-fushia
{
    background-color:$fushia;
    border-color: $fushia;
    color:white!important;
}
.btn-fushia:hover
{
    background-color: $darkfushia;
    border-color: $darkfushia;

}
.btn-light
{
    background:transparent;
    border:1px solid $mediumgrey;
    color:$lightblue;
}
.btn-light:hover,   .btn-light:focus
{
    border:1px solid $mediumgrey;
    @include bgtransparent();

}

.btn-outline-primary
{
    border: 1px solid $lightblue;
}

.btn-outline-secondary
{
    border-color: $mediumgrey;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}


/* Banners */

.banner
{
    text-align:center;

    background-size:100% auto!important;
    background-repeat:no-repeat!important;
    @for $index from 1 through 6 {
        h#{$index}{
            margin:0;
            width:100%;
        }
    }


    .btn
    {
        margin-top:20px;
    }

    .col-sm-12
    {
        @include vertical-align-center();
        height:100%;
        .vc_column-inner
        {

            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            display: flex;
            width:100%;
        }
    }


    .wpb_content_element
    {
        margin-bottom:0;
    }

    a,p
    {
        color:white;
    }

    @for $index from 1 through 6 {
        h#{$index}{
            color:white;
        }
    }


}





/*search engine*/

.sengine-form
{
    position:relative;

    .form-row > div
    {

        &:first-child .nice-select
            {

            background:white;
            border-top-left-radius: 30px ;
            border-bottom-left-radius: 30px ;
        }



        .form-group
        {
            input,select
            {
                border:none!important;
                border-radius:0;
            }

            .form-control
            {
                border-right:none;
                border-left:none;
            }
            .nice-select
            {
                border-right:1px solid $mediumgrey;
            }

            button[type="submit"]
            {
                @extend .btn-primary;
                border:none;
                border-radius:0;
                padding-top: 14px;
                padding-bottom: 16px;
                padding-right:34px;
                border-top-right-radius: 30px ;
                border-bottom-right-radius: 30px ;
                background-color: $lightblue;
                background-image:url('../images/pic-search.png');
                background-repeat:no-repeat ;
                background-size: 18px;
                background-position: center right 23px;
                text-align:left;
                padding-left: 20px;
                @include transition(.2s);

            }
        }

    }

    .form-group:first-child :before
        {
        content:"";
        display:block;
        height:100%;
        width:30px;
        @extend .rounded-left;
        background: white;
    }

}


/*grid*/

.container-sm
{
    width:800px;
    margin:auto;
}


/*misc*/
.screen-reader-text
{height:0}


.breadcrumb
{
    background: none;
    padding: 0;
}