.type-centre
{
    margin-top:20px;
}


article.centre
{

    h1
    {

        sup.standing-stars
        {

            display:block;

            img
            {
                margin-left:2px;
            }
        }
    }
    h2
    {
        text-align:center;
        font-weight:200;
        margin-bottom:40px;
    }



    .services_list
    {
        margin-bottom:15px;
        img
        {
            width:38px;
            background:$lightgrey;
            border-radius:50%;
            margin-right:5px;
        }
    }

    .readmore
    {
        cursor:pointer;
    }




    .anchors
    {
        a:not(:first-child)
            {
            margin-left:25px;
        }
        a
        {
            color:inherit;
        }
    }

    #products
    {


        .card-header
        {
            .nbrev
            {
                color:$lightblue;
                border-left:1px solid $mediumgrey;
                padding-left: 20px;
            }

            h3
            {

                .btn-link
                {
                    padding:0;
                    width:100%;
                    text-align:left;
                    font-size:1.3rem;
                    font-weight:700;
                }

            }


        }

        .card-body
        {
            table
            {
                margin:0;
                td
                {
                    padding:10px 0;
                }
                td:nth-child(2)
                    {
                    padding-left:15px;
                    padding-right:15Px;
                }
            }

        }

        h4
        {
            margin:0;
            display:inline-block;
        }

    }

}

