.site-footer
{

    #prefooter1
    {
        position:relative;
        min-height: 70px;
        #social
        {
            position:absolute;
            top:17px;
            right:20px;
            img
            {
                width:37px;
            }
        }

        .linkm
        {
            position:relative;
            cursor:pointer;
            font-weight: 100;

            &:after
                {
                border-bottom: 2px solid #999;
                border-right: 2px solid #999;
                content: '';
                display: block;
                height: 5px;
                margin-top: -4px;
                pointer-events: none;
                position: absolute;
                top: 43%;
                transform-origin: 66% 66%;
                transform: rotate(45deg);
                transition: all 0.15s ease-in-out;
                width: 5px;
                border-bottom-color: $darkgrey;
                border-right-color: $darkgrey;
                height: 9px;
                width: 9px;
                right: -18px;
            }
            &.open:after
                {
                transform: rotate(-135deg);
            }
        }

    }

    #prefooter2
    {

        height:0;
        overflow:hidden;
        opacity:0;
        transition: all 0.15s ease-in-out;

        &.open
        {
            opacity:1;
            height:auto;
        }

        .navbar-nav
        {

            margin:0;
            li,a
            {
                text-align:left;
            }
        }
    }

    #footer
    {
        background:#eaeaea;


        a
        {
            font-size:0.85rem;
            color:inherit;
        }

        .container
        {
            position:relative;
            #social
            {
                position:absolute;
                top:9px;
                right:20px;
                img
                {
                    width:37px;
                }
            }
        }


    }
}


@-webkit-keyframes heart {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

#contactbtn_wrapper
{
    text-align: center;
    position:fixed;
    bottom:30px;
    z-index:3;
    right:30px;

    #contactbtn
    {
        display:none;
        padding: 10px 20px;
        border-radius:$default_radius;
        background:$green;
        color:white;
        font-weight:bold;
        text-decoration:none;
        /* -webkit-animation: heart 1s linear infinite;
         -moz-animation: heart 1s linear infinite;
         -ms-animation: heart 1s linear infinite;
         animation: heart 1s linear infinite;*/
        &:hover
            {
            background:$darkgreen;
        }

    }
}