/*CFORM WRAPPER*/

.cform
{

    overflow:hidden;
    height:0;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
    &.open
    {

        height:auto!important;
        padding:50px 0;
    }
}

/*GRAVITY FORMS GENERAL*/

.gform_wrapper
{

    h3,.h3
    {

        font-size: 1.6rem;
        font-weight: 100;
    }
    .gfield_checkbox li input,
    .gfield_checkbox li input[type=checkbox],
    .gfield_radio li input[type=radio]
    {
        margin:0!important;
    }

    .gfield_checkbox li
    {
        margin:0!important;
    }

    li.gfield.gfield_error.gfield_contains_required div.ginput_container,  li.gfield.gfield_error.gfield_contains_required label.gfield_label
    {
        margin:0!important;
    }

    .gfield_checkbox li label
    {
        line-height:0!important;
    }

    .gform_heading
    {
        text-align:center;
    }

    textarea,input
    {
        width:100%;
        border:none;
    }

    input[type="submit"]
    {

        @extend .btn;
        @extend .btn-primary;
        width:100%!important;
        font-size: 1.3rem;
        text-transform: uppercase;
        background-image: url('../images/pic-envelop.png');
        background-repeat: no-repeat;
        background-position: calc(50% + 69px) 50%;
        background-size:20px;
        -webkit-transition: all .3s ease-in;
        -moz-transition: all .3s ease-in;
        -o-transition: all .3s ease-in;
        transition: all .3s ease-in;
    }


    ul li.gfield
    {
        margin-top:0!important;
        margin-bottom:0!important;
    }

    /*chosen*/
    .chosen-container-multi
    {
        width:100%!important;
    }


    #field_1_18
    {
        display:none;
    }
    #field_1_23,#field_3_7
    {
        margin:0;
    }



    .search-field
    {
        width:100%!important;

        &:after
            {

            border:none;
            border-bottom: 2px solid $lightblue;
            border-right: 2px solid $lightblue;
            content: '';
            display: block;
            height: 5px;
            margin-top: -4px;
            pointer-events: none;
            position: absolute;
            right: 12px;
            top: 50%;
            transform-origin: 66% 66%;
            transform: rotate(45deg);
            transition: all 0.15s ease-in-out;
            width: 5px;
        }
    }

    .my-box-style
    {
        &>h2,&>p
        {
            text-align:center;
        }


        .gform_fields
        {
            margin:20px 0!important;
            background:white;
            border-radius:$little_radius;
            padding:20px;
            border:1px solid $mediumgrey;



            .subgroup
            {
                display:none;
            }
        }

        &.centerselect
        {
            .gform_fields
            {
                border-radius:$default_radius;
                padding:10px 20px;
            }
        }
    }


    .gfield_error
    {
        input
        {
            border:none!important;
            border-bottom:1px solid $mediumgrey!important;
            color:inherit;
        }
    }


    .gfield
    {


        label
        {
            font-weight:300!important;
        }

        position:relative;

        /*hide sub-checkboxes*/
        .gchoice_1_11_2,.gchoice_1_11_3,.gchoice_1_11_4,
        .gchoice_1_11_6,.gchoice_1_11_7,.gchoice_1_11_8,.gchoice_1_11_9,
        .gchoice_1_11_12,.gchoice_1_11_13,.gchoice_1_11_14
        {
            display:none;
        }


        &.label_as_placeholder
        {


            input
            {
                padding: 20px 0 8px 0!important;
            }

            textarea
            {

                padding:20px 0 0 0;
            }


            label
            {
                position:absolute;
                top:17px;
                transition: top 0.1s ease-in-out;
                cursor:auto;


            }
            label.sup
            {         top:5px;
                      font-size:10px!important;

            }


        }


        .ginput_container
        {

            margin:0!important;

            input
            {
                width:100%!important;
                margin:0;
                border:none;
                border-bottom:1px solid $mediumgrey;
                padding:26px 0 8px 0;
            }


            textarea
            {
                border:none;
                border-top:1px solid $mediumgrey;
            }

            .gfield_checkbox
            {
                margin:0;
                overflow: hidden;
            }
        }

        .ginput_container_checkbox
        {
            margin-bottom:10px!important;
        }

        .gfield_required
        {
            /* display:none;*/
            color:$red;
        }
    }


    li.gfield.gfield_error, li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning
    {
        background:white!important;
        margin:0!important;
        border:none!important;
    }
    .validation_message
    {
        margin:0!important;
        padding:0!important;
        color:$red!important;
    }
    .validation_error
    {
        color:$red!important;
        border:none!important;
    }


    /*simple selectbox*/
    .ginput_container_select
    {
        margin:30px 0;
        .nice-select
        {
            border-radius:30px;
        }
    }

    /*file button*/
    .gform_fileupload_multifile
    {
        .gform_drop_area
        {
            background:$softblue!important;

            .gform_button_select_files
            {
                @extend .btn;
                @extend .btn-primary;

                input
                {
                    padding:8px 0;
                }
            }
        }
    }

    /*multiple selectbox*/
    .chosen-container-multi
    {
        .chosen-choices
        {
            border:none!important;
            background:none;
            box-shadow:none!important;
            background-image:none!important;

            &:after
                {
                border: 0;
                border-bottom: 1px solid #35a0d8;
                border-right: 1px solid #35a0d8;
                content: '';
                display: block;
                height: 9px;
                margin-top: -4px;
                pointer-events: none;
                position: absolute;
                right: 5px;
                top: 50%;
                transform-origin: 66% 66%;
                transform: rotate(45deg);
                transition: all .15s ease-in-out;
                width: 9px;
            }



            .search-choice
            {
                border-radius:$default_radius!important;
                padding:15px 30px 15px 20px !important;
                background-color:$lightblue!important;
                background-image:none!important;
                border-color: $lightblue!important;
                color:white!important;
                box-shadow:none!important;
                background-image:none;
                background:$lightblue;

                .search-choice-close
                {
                    top: 17px!important;
                    background: url(../images/chosen-sprite.png) -42px 1px no-repeat!important;
                    right: 10px!important;

                }
            }
        }
    }
}

/*custom css gf4*/
#gform_4
{

    li.gfield
    {
        margin-top:6px !important;
    }

    #field_4_14,    #field_4_33, #field_4_25
    {
        padding:30px 0;
    }

    #field_4_43
    {
        margin-top: 35px !important;

    }
}



/*confirmation*/
.gform_confirmation_wrapper
{
    h2
    {
        font-weight:700;
        font-size:1.5rem;
        color:white;
    }
    text-align:center;
    /* background:rgba(53,160,216,0.4);*/
    background:#a0d468;
    padding:15px;
    margin-top:10px;
    color:white;
}


/*edit form*/
.gv-edit-entry-wrapper
{
    .gfield_label
    {
        left:20px;
    }
    .ginput_container
    {    border: 1px solid $mediumgrey;
         padding: 20px;


         textarea,input,li
         {
             border:none!important;
         }

    }
    .gfield.label_as_placeholder input

    {
        padding:0!important;
        margin:0;
    }

    .form-group
    {margin-bottom:1rem!important}


}


/*sidebar form*/
#sidebar_right
{
    #gform_1
    {
        .chosen-choices:after
            {
            display:none;
        }



        .centerselect
        {
            .description_below,.chosen-choices,li
            {
                text-align:center;
                background:transparent;
            }
        }

        .chosen-choices
        {
            .search-choice
            {
                background-color:$darkgrey!important;
                border-color:$darkgrey!important;
                padding:5px 30px 5px 10px !important;

                span
                {
                    // color:$darkgrey!important;
                    font-size:0.8rem;
                }

                a.search-choice-close
                {
                    top:7px!important;
                }
            }
        }
    }
}


/*IE render*/
.gf_browser_ie
{
    .gform_footer
    {
        input.button
        {
            padding:15px!important;
        }
    }
}

/*JOIN US FORM*/
#joinUsForm
{    overflow:hidden;
     height:0;
     -webkit-transition: all .3s ease-in;
     -moz-transition: all .3s ease-in;
     -o-transition: all .3s ease-in;
     transition: all .3s ease-in;
     background:$softblue;
}
