

#masthead
{
    background:white;
    @include border-shadow();

    nav.navbar
    {

        #nav-mobile
        {
            #tel_tbc
            {
                margin-right:10px;
            }
        }
        width:100%;
        padding:5px 30px;
        font-size:1.05rem;
        transition: all 0.3s ease-out;

        .navbar-brand
        {
            img
            {
                width:200px;
		max-height: 84px;
            }
        }

        .navbar-toggler-icon
        {
            background-image:url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(53, 160, 216, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            margin-left:5px;
        }

        .navbar-toggler
        {
            padding:5px 20px;
            @include border-radius($default_radius);
            border:1px solid $mediumgrey;
            color:$lightblue;
        }

        > div
        {
            position:static;


            .navbar-nav
            {
                position:static !important;
                -ms-flex-direction:row!important;

                li.nav-item
                {

                    margin:auto 15px;
                    font-weight:500;


                    a,a:hover
                        {
                        color:$lightblue!important;
                        text-decoration:none;
                        padding-top:0;
                        padding-bottom:0;
                        /*     border:1px solid white;*/
                    }


                    &:not(.extra)
                        {
                        a.nav-link
                        {
                            position:relative;

                            &::before
                            {
                                content: '';
                                position: absolute;
                                bottom: -1px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background: $lightblue;
                                -webkit-transform: scale3d(0, 1, 1);
                                transform: scale3d(0, 1, 1);
                                -webkit-transition: -webkit-transform 0.1s;
                                transition: transform 0.1s;
                            }

                            &:hover::before
                                {
                                transition-duration: 0.3s;
                                -webkit-transform: scale3d(1, 1, 1);
                                transform: scale3d(1, 1, 1);
                                -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                -webkit-transition-duration: 0.3s;
                            }
                        }

                    }


                    &.menu-item-has-children
                    {
                        a
                        {
                            padding: 0 25px 0 0.5rem!important;;
                            padding-left:15px;
                            padding-right:20px;
                        }
                    }

                    &.active
                    {

                        a
                        {
                            font-weight:700;
                            border-bottom:2px solid $lightblue;
                        }
                        a::before
                        {
                            display:none;
                        }
                    }


                    &.extra
                    {
                        display:inline-block;

                        a,a:hover
                            {
                            border:none!important;
                            border-radius:0!important;
                        }



                        .wpml-ls-sub-menu
                        {
                            width: 90px;
                            border:none;
                            margin-top:5px;
                            a
                            {
                                background:$lightgrey;
                            }
                        }
                    }

                    /*fushia*/
                    &.join_us
                    {
                        @extend .btn;
                        @extend .btn-fushia;
                        padding:0 !important;
                        margin-left:20px;
                        transition: all 0.15s ease-in-out;

                        a,a:hover
                            {
                            padding:5px 15px!important;
                            color:white!important;
                            border-radius:$default_radius!important;
                        }

                    }



                }


                > li.dropdown.show {
                    position: static;
                }

                .dropdown-toggle::after
                {
                    border:none;
                    border-bottom: 1px solid $lightblue;
                    border-right: 1px solid $lightblue;
                    content: '';
                    display: block;
                    height: 9px;
                    pointer-events: none;
                    position: absolute;
                    right: 5px;
                    top: 7px;
                    transform-origin: 66% 66%;
                    transform: rotate(45deg);
                    transition: all 0.15s ease-in-out;
                    width:9px;
                }
                .dropdown.open  .dropdown-toggle::after
                {
                    transform: rotate(-135deg);
                }

                #loginpic
                {
                    border-radius:50%;
                    margin-right:0;
                    border:1px solid $mediumgrey;
                    padding:3px !important;

                    a
                    {
                        padding: 7px;

                        img
                        {
                            width:15px;
                            padding-bottom:3px;
                        }
                    }

                }

                #selectlang
                {
		    max-width:39px;

		    ul
		    {
			padding:0;
			list-style:none;
		    }
                    a
                    {
                        padding:7px!important;
			border-radius:50%!important;
			border:1px solid $mediumgrey!important;
                        color:$mediumgrey!important;
                    }
                }



            }


            #tel_tbc
            {

                color:$lightblue;
                font-size:1.1rem;
                padding-left:8px;
                padding-right:8px;
            }

            .wpml-ls-legacy-dropdown-click
            {
                width:auto;

                .wpml-ls-current-language:hover
                    {
                    background:none;
                }

                a.wpml-ls-item-toggle
                {


                    @extend .btn;

                    background:none!important;
                    line-height:auto!important;
                    border-radius: 10px!important;
                    text-transform: uppercase;
                    padding: 0 15px;
                    text-decoration:none;

                    &::after
                    {
                        display:none;
                    }

                    &:after
                        {
                        right: 12px;
                        border-bottom-color:$darkgrey;
                        border-right-color:$darkgrey;
                    }
                }
            }



        }

        .navbar-trustpilot
        {
            overflow:hidden;
            padding-left:0;

            .trustpilot-widget
            {
                width: 118px;
                height: 54px;
            }
        }
    }

    &.is_sticky
    {
        nav.navbar
        {
            padding-top:0;
            padding-bottom:0;

            .navbar-brand
            {
                img
                {
                    width:117px;
                }
            }
        }

    }

}


#submenus
{

    .subhmenu
    {
        height:0;
        transition: all 0.3s ease-out;
    }
    .subhmenu.open
    {
        height:72px;
    }
    .extra
    {
        display:none!important;
    }

    > ul
    {
        overflow: hidden;
        > li
        {

            a
            {
                background:$lightgrey;

            }

            &.active,a:hover
                {
                background:$lightblue;
                color:white;
            }

        }
    }

}



#masthead
{
    #mobilemenu
    {

        position: fixed!important;
        z-index: 2;
        background: #eee;
        left: 0;
        width:100%;
        padding: 5px 15px;
        @include border-shadow();

        >div
        {
            flex-direction: column;

            .nav-item
            {
                margin:0;


            }
        }

        .navbar-nav
        {
            flex-direction: column!important;
        }

        li.nav-item
        {
            padding:0;

            &.dropdown
            {

                .dropdown-toggle
                {
                    &:after
                        {
                        right: 25px!important;
                        top: 16px!important;
                    }
                    position:relative;




                }


                .dropdown-menu
                {
                    margin:0;
                    padding:0;
                    border-radius:0;

                    li
                    {
                        margin:0;
                        a
                        {
                            padding-left:10px;
                        }
                    }
                }
                a:hover:after
                    {
                    border-color:white!important;
                }

            }
            a
            {
                padding: 10px 20px!important ;
                display:block;
                transition: all 0.1s ease-out;
                text-decoration:none;
                border:none!important;
                &:hover
                    {
                    background:$lightblue;
                    color:white!important;
                }
                &:before
                    {
                    display:none!important;
                }

            }


        }


        #loginpic
        {
            border:none;
            padding:0!important;
            margin-bottom:20px;
            img
            {
                display:none;
            }
        }


        .join_us
        {
            text-align:center;
            a{
                background:$fushia!important;
            }

        }




        .navbar-nav li.nav-item.menu-item-has-children a

        {
            padding: 10px 20px !important;
        }
    }


}

