.logo {
    display: inline-block;
}



.sectionblock
{
    padding-top:60px;
    padding-bottom:60px;

    h2,.h2
    {
        margin-bottom: 25px;
    }
    .btn
    {
        margin-top:25px;
    }



}

.wpb_wrapper
{
    width:100%;
}





/*EXPRESS*/
#express_form
{




    #gchoice_3_4_2,#gchoice_3_4_3,#gchoice_3_4_4
    {
        display:none;
    }
}

/*BANNER HOME*/
#homebanner
{
    background:url("../images/bg-bureaux.jpg") center no-repeat;
    background-size:100% auto;
    padding: 150px 0;
    transition: all 1s ease-in-out;

    &.loaded
    {
        background-size:102% auto;

    }

    /*search home loading*/
    #search_home
    {
        opacity:0;
    }

    &.loaded #search_home
    {
        opacity:1;
    }

    /*main*/
    p
    {
        color:white;
        margin:0;
        font-size:1.5rem;
    }
    .head-title
    {
        font-size:2.4rem;
        font-weight:700;
        line-height:2.2rem;
    }
    .subtitle
    {
        font-size:1.4rem;
        line-height:2.2rem;
        font-weight:500;
    }


    #search_home
    {
        padding-top:30px;


        #tabproducts
        {
            margin:30px 0;



            a
            {
                @extend .btn;
                @include bgtransparent();
                display:block;
                width:100%;
                font-weight:700;
                padding: .9rem 1.7rem;
                color:white;
                text-decoration:none;
                @include transition(0.2s);


                img
                {
                    padding-right:8px;
                }

                &.btn-bureaux:hover, &.btn-bureaux.active
                    {
                    background-color:$lightblue;
                }

                &.btn-sdr:hover, &.btn-sdr.active
                    {
                    background-color:#1D70AF;
                }

                &.btn-coworking:hover, &.btn-coworking.active
                    {
                    background-color:#2D2E80;
                }
                &.btn-dom:hover, &.btn-dom.active
                    {
                    background-color:#1D1D1B;
                }



            }

        }


        .tab-content
        {
            .sengine-form
            {
                margin:0 15px;
            }
        }
    }
}



/*SECTION TRUSTPILOT*/
#section_trustpilot
{
    height: 164px;
    padding:30px 0 0 0;
    border-bottom:1px solid $mediumgrey;

    iframe
    {
        margin:auto;
    }
}

/* CAROUSEL NEWS */

#carousel_news
{
    position:relative;

    .owl-nav
    {
        position:absolute;
        width:100%;
        top:45%;
        .owl-prev
        {
            position: absolute;
            left: 0;
            top: 0;
        }
        .owl-next
        {      position: absolute;
               right: 0;
               top: 0;
        }
    }

    .owl-stage-outer
    {

    }


    .owl-item
    {


        &.active:first-child
            {
            /*       border-right:1px solid $mediumgrey;*/
        }


        .item
        {
            padding:0 55px;


            p
            {
                color:#808080;
            }
        }


    }

}



/* Testimonials Trustpilot */












/*PRODUCTS*/

#banner_products
{


    .boxwi
    {
        position:relative;
        overflow:hidden;
        background-size:100%;

        .btn-light
        {

            /*  border-color:rgba(255,255,255,0.6);*/
            -webkit-box-shadow:inset 0px 0px 0px 1px white!important;
            -moz-box-shadow:inset 0px 0px 0px 1px  white!important;
            box-shadow:inset 0px 0px 0px 1px white!important;
            /* color:white;*/
        }
        .btn-light:hover,   .btn-light:focus
            {
            -webkit-box-shadow: none!important;
            -moz-box-shadow: none!important;
            box-shadow:none!important;
            /*   border:1px solid rgba(255,255,255,0.3);*/
            color:white;
        }
        &:before,  &:after
            {
            content:'';
            height:1px;
            width:80%;
            background:$lightgrey;
            margin:auto;
            position:absolute;
            left:10%;
            opacity:0;
            -webkit-transition: all .3s ease-in;
            -moz-transition: all .3s ease-in;
            -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
            z-index:4;
        }

        &:before
            {
            top:0;
        }

        &:after
            {
            bottom:0
        }

        .extra_text
        {
            -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
            -o-transition: all .2s ease-in;
            transition: all .2s ease-in;
            opacity:0;
            height:15px;
        }


        &:hover
            {
            .extra_text
            {
                opacity:1;
                height:auto;
            }

            &:before
                {
                top:30px;
                opacity:1;
            }

            &:after
                {
                bottom:30px;
                opacity:1;
            }


        }




        .vc_column-inner
        {
            height:500px;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: -o-flex;
            display: flex;

            .bginnerbox
            {


                @include transition(.2s);
                transform: rotate(0deg);
                background-size:center;
                width: 100%;
                height: 100%;
                background-color: white; /* fallback color */
                background-position: center;
                background-size: cover;
                position:absolute;
                z-index:2;
                top:0;
                left:0;

            }

            &:hover
                {

                .bginnerbox
                {
                    /* -webkit-transform: rotate(-15deg);
                     transform: rotate(-15deg);*/
                    transform: scale(1.1);
                }
            }

            .contentinnerbox
            {
                position:relative;
                z-index:3;



            }

        }
    }

    #boxbureaux
    {
        .bginnerbox
        {
            background-image:url("../images/bgp-bureaux.jpg");
        }
    }
    #boxsdr
    {
        .bginnerbox
        {
            background-image:url("../images/bgp-sdr.jpg");
        }
    }

    #boxcoworking
    {
        .bginnerbox
        {
            background-image:url("../images/bgp-coworking.jpg");
        }
    }
    #boxdom
    {
        .bginnerbox
        {
            background-image:url("../images/bgp-dom.jpg");
        }
    }






    .vc_column-inner
    {     padding: 0 20%;
          height:100%;
          text-align:center;
          @include vertical-align-center();
    }


}


/*AVANTAGES*/

#section_pros
{
    /*   background-image:url('../images/filigran.jpg');*/
    background-position: 69% 20px;
    background-repeat:no-repeat;
    /*min-height: 400px;*/
}

/*STATS*/

#banner_stats
{


    /* background-image:url('../images/bg-widget-stats.jpg');
     background-position:center;*/
    padding:80px 0;
    overflow:hidden;

    .stat_box
    {
        margin: 25px 0;
        border-right:1px solid #eee;

        &:last-child
            {
            border:none;
        }
        .stat_value
        {
            font-size:4rem;
            margin:0;
            line-height:2.3rem;
        }
        .stat_text
        {
            margin-top:10px;

        }
    }

}


/* Banner footer */

#banner_footer
{

    /* background-image:url('../images/bg-banner-footer.jpg');*/
    padding:100px 0;
    background-position:top;

}