/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 31 mai 2018, 18:22:17
    Author     : avelook
*/


/*Fix bug IE9*/
vc_column-inner
{
    .row
    {
        overflow:hidden;
    }
}


.gform_wrapper  .gfield_checkbox input
{
    border:none!important;
    padding:0!important;
}



@media all and (-ms-high-contrast: none) {


    .justify-content-left
    {
        /*   justify-content: space-around;*/
    }

    .tab-pane >.active
    {
        display:-ms-flexbox;
        float:left;
    }


}