.site-main
{


    /*fix visual composer*/

    .entry-content > .row{
	/*    margin-left: 0;
	    margin-right: 0;*/

    }

    /*  .banner.row
      {
          margin-left: 0;
          margin-right: 0;
      }
    */
    .container{
        .row{
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    /*height carousel*/
    .inner_slider
    {.owl-carousel
     {
         height:auto;overflow:hidden;
     }
    }

    .item-result    .owl-carousel
    {
        height:auto;
    }

    /*general*/

    .inner_slider
    {
        /*  max-height:400px;
          overflow:hidden;
          .owl-stage-outer,.owl-stage,   .item
          {
              max-height:400px;
          }
        */

        .owl-nav
        {
            position: absolute;
            top: 43%;
            width: 100%;
        }

        .owl-prev,.owl-next
        {
            position:absolute;

        }
        .owl-prev{
            left:30px;
        }
        .owl-next
        {
            right:30px;
        }

    }
    .boxed
    {
        border:1px solid $mediumgrey;
        padding:35px;

        h3
        {
            font-size:2rem;
            font-weight:100;
            margin-bottom:25px;
        }

        &.bggrey
        {
            border:none;
        }

        &#center_intro
        {

            h2
            {
                font-size:1rem;
                font-weight:700;
                margin:0;
                text-align:left;
            }

        }
    }

    .card-header
    {
        border:0;
        background:$lightgrey;

    }

    .card
    {
        border:1px solid $lightgrey;
        border-radius:0;
        margin-bottom:20px;
    }


    .phone
    {
        color:$lightblue;
        font-weight:700;
        font-size:1.8rem;
        margin-bottom:0;
    }




}



#sidebar_right
{

    background:$lightgrey;

    #sb_contentbox
    {
        &.highlighted
        {
            .dyn
            {
                color:$green;
            }
        }
        #sb_intro,    #sb_form
        {
            margin: 20px 10%;
        }

        #sb_intro
        {

            text-align:center;

            #sb_legend
            {
                font-style:italic;
            }
        }
    }
    &.is_sticky
    {
        position:fixed;
        right:2.2%;
    }


    #sb_form
    {

        padding-bottom:10px;


        .gform_wrapper div.validation_error
        {
            color:$color-alert;
            border-color:$color-alert;

        }
        #field_1_11
        {
            margin-bottom:20px;
        }

        .centerselect
        {
            display:none
        }
        .gform_body ul
        {
            margin:0!important;
        }

        .my-box-style
        {
            &>.h3,&>p
            {
                display:none;
            }
            .gform_fields
            {
                border-radius:0;
                border:none;
                padding-bottom:0;
            }
        }

        .gfield
        {
            padding: 0;
            background: white;
            margin:0;



            &.gfield_error
            {
                margin:0!important;
                border:none;
                max-width:100%!important;

                .validation_message
                {
                    margin:0;
                    padding:0;
                    color:$color-alert;;
                }
                .gfield_label
                {
                    color:inherit;
                }
            }

            &#field_1_23
            {
                display:none;
            }




            &#field_1_11
            {


                li
                {
                    clear:left;
                    margin: 0;
                }
                .subgroup
                {
                    margin:2px 0 5px 0;
                    padding:0;
                    overflow:hidden;
                    display:none;
                    li
                    {
                        width:50%;
                        float:left;
                        font-size:0.8rem;
                        clear:none;
                    }
                }

            }
        }


    }

    .gform_footer
    {
        margin:0;
        padding:0;

        input[type='submit']
        {
            @extend .btn-secondary;
            width:100%;
            border:none;
            border-radius:0;
            padding:20px;
            -webkit-border-bottom-right-radius: $little_radius;
            -webkit-border-bottom-left-radius: $little_radius;
            -moz-border-radius-bottomright: $little_radius;
            -moz-border-radius-bottomleft: $little_radius;
            border-bottom-right-radius: $little_radius;
            border-bottom-left-radius: $little_radius;
            text-align:left;
            background-image:url('../images/pic-envelop.png');
            background-repeat:no-repeat;
            background-position: center right 20px;
            background-size: 20px;
            @extend h4;
            @include transition(.2s);
        }
    }



    .associated
    {
        padding:20px;
        h3
        {
            text-align:center;
        }
    }
}


/*
page 404
*/


.error-page
{
    background-image: url('../images/login-bg.jpg');
    overflow:hidden;

    .error-404
    {
        margin-top: 167px;
        margin-bottom: 150px;
        padding: 40px;
        background: white;
    }

}