
/*override*/
[class*="gv-grid-col-"]
{
    padding-right:0!important;
}


#member_menu
{
    li
    {
        list-style:none;
        a
        {

        }
    }
}

.member-msg
{
    background:#fff3cd;
    padding:20px;
}

#members_stats

{

    margin:20px 0;

    .tab-content > .active
    {
        display:flex;
    }

    .nav.nav-pills
    {

        li
        {


            a
            {
                background:$lightgrey;
                padding:5px 20px;
                display:block;
                text-decoration:none;
            }


        }
        li.active a,   a.active
        {
            background:$lightblue;
            color:white;
        }
    }

    .small-box
    {
        .wrapper
        {
            padding:20px;
            position:relative;
            margin:10px 0;
            min-height:103px;

            .stattext
            {
                color:white;
                font-size:1rem;
            }

            .statval
            {
                color:white;
                margin:0;
                line-height:3rem;
                font-size:3rem;
            }

            /*   .dashicons
               {
                   position: absolute;
                   right: 10px;
                   &:before
                       {
                       font-size:110px;
                       color: rgba(0,0,0,0.15);
                       -webkit-transition: all .3s linear;
                       -o-transition: all .3s linear;
                       position: absolute;
                       right: 0px;
                       transition: all .3s linear;
                   }
               }*/
        }
        .icon {
            -webkit-transition: all .3s linear;
            -o-transition: all .3s linear;
            transition: all .3s linear;
            position: absolute;
            top: 10px;
            right: 14px;
            z-index: 0;
            color: rgba(0,0,0,0.15);
            i,i:before
                {
                font-size: 90px;
            }
        }



    }


}



.gv-container-79
{
    .badge
    {
        text-align:left;
    }
    .gv-table-view th, .gv-table-view td
    {
        padding:10px;
    }


    tfoot
    {
        display:none;
    }
}

.proposal_box
{
    padding: 20px;
    text-align: center;
    background:$mediumgrey;
    margin-bottom:40px;
}

.gv-table-view.gv-table-container.gv-table-single-container.gv-container
{
    padding:20px;
    border:1px solid $mediumgrey;

    ul
    {
        padding-left:16px
    }


}

.gv-table-view
{ font-size:0.9rem;
  .gv-field-label
  {
      font-size:0.9rem;
  }
}

.gv-back-link
{
    margin-top:20px;
}


/*search*/
.gv-widget-search.gv-search-horizontal
{

    padding:15px 0px;
    margin:0!important;

    .gv-search-box
    {
        margin:0!important;
    }


}

/*
.gv-approval-toggle::before
{
    border-radius:50%
}*/
.gv-search-field-select
{
    select,input
    {
        padding: 5px 10px;
        border: 1px solid #c5c5c5;
        background: #f6f6f6;
        font-weight: normal;
        color: #454545;
    }
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;margin-left: -11px;
    padding: 0;
    background: #f6f6f6;
    width: 30px;
    border: 1px solid #c5c5c5;
    cursor:pointer;
}

.ui-icon-triangle-1-s {
    background-position: -60px -15px!important;
}

.custom-combobox {
    position: relative;
    display: inline-block;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
    width:280px;
    background:white;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}



/*ninja popup*/
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span
{
    background-image:url("../images/fancybox_sprite.png")!important;
}