

/* FULL WIDTH LAYOUT */

.wpex-vc-row-stretch_row { opacity: 0; }
.wpex-window-loaded .wpex-vc-row-stretch_row { opacity: 1; }

div[data-vc-full-width="true"]{ opacity: 0;
                                @include transition(.4s);
}


.pfw
{


    > .row
    {
        margin:0;
    }

    h2,.h2
    {
        font-size:2.8rem;
        color:$lightblue;
        line-height:3.2rem;

    }
    h2
    {
        position:relative;
        margin-bottom:80px!important;
        &:after
            {
            height:3px;
            background:$lightblue;
            width:80px;
            content:"";
            position:absolute;
            bottom:-30px;
            left:0;
        }
    }
    .vc_inner.container
    {
        max-width:auto;
        margin:auto!important;
    }

    .roundedbox
    {

        padding: 40px ;
        border-radius:$little_radius;
        background:white;

        text-align:center;
        color:#666666;

        img
        {
            width:90px;
        }
    }


    .row.no-gutters
    {
        .row
        {
            margin:0;
        }

    }

    /*3 columns*/
    .col-sm-4
    {

        .vc_column-inner,.roundedbox,.wpb_wrapper
        {
            height:100%;
        }
    }


    /*2 columns*/
    .no-gutters .col-sm-6
    {
        padding:0;

        .row
        {
            margin:0;
        }

        .vc_column-inner,  .wpb_wrapper,          .vc_single_image-wrapper,.vc_figure
        {
            height:100%;
        }

        .wpb_single_image
        {
            overflow:hidden;

            height:100%;

            img
            {
                height: 100%;
                max-width:300%;
            }
        }


        .wpb_text_column.wpb_content_element
        {
            padding:60px 15px 60px 80px;
            p
            {
                /*@include mediumsize();*/
            }

        }
    }
}


/*MODEL STATIC PAGE*/
.entry-content.inpage
{

    background:$lightgrey;

    .maincontent
    {
      /* max-width:1400px;*/
        background:white;
        padding:30px 40px;
    }


    h2
    {color:$lightblue;
    }

}

/*breadcrumb*/

.breadc
{
    margin-top:20px;
}




/*banners*/
.banner.inner
{
    background-size:100%;
    height: 180px;
    background-position: center center;
    @include vertical-align-center();

    .container
    {
        text-align:center;
    }
}

.banner-aqua
{
    background:$lightblue;
    padding:20px 0;
    color:white;

}





.innersection
{

    padding-top:30px;
    padding-bottom:30px;

    h2
    {
        font-size:1.7rem;
    }

}



/*page adresse*/
.addresses
{
    margin-top:60px;

    .col-sm-4
    {

        border-left:1px solid $mediumgrey;

        li.head_address
        {
            margin-left:30px;
            margin-bottom:10px
        }
        ul
        {
            margin-left: 0;
            padding-left: 0;
            list-style: none;
            li
            {
                margin-left: 0;
                padding-left: 0px;
                list-style: none;
            }
        }
    }



    li.location
    {
        list-style:none;
        a
        {
            color:inherit;
        }
    }
}





/*login page*/

.login
{
    font-family:"nimbus-sans", sans-serif;
}

.login h1 a {

    background: url('../images/logo.png') left no-repeat;
    background-size:200px;
    width:100%;
    margin:0;
}

body.login {
    background-image: url('../images/login-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size:100% auto;
}
#login > h1
{
    background:white;
}
#loginform
{
    margin-top:0;
}


p#backtoblog {
    display: none;
}

.login label {
    font-size: 12px;
    color: #555555;
}

.login input[type="text"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login input[type="password"]{
    background-color: #ffffff;
    border-color:#dddddd;
    -webkit-border-radius: 4px;
}

.login form
{
    padding:26px 24px 15px;
    box-shadow:none!important;
}

.login #nav
{
    background:white;
    margin:0;
    padding:10px 30px;
}


/*contact page*/
#maincontact
{
    background:$softblue;
}