.planyo
{


    color:$darkgrey;

    *,.reservation_step .reservation_step_name, .reservation_step_current .reservation_step_name
    {
        font-family: "nimbus-sans",sans-serif!important;
    }

    a,  a:hover, a:focus, .calpicker a, #calendar_nav a, #horizontal_calendar a, #calendarbig a,
        .reservation_step_current .reservation_step_name,
        .button, .checkout_button, #box_submit_button.button
        {
        color:$lightblue!important;
    }


    .button:hover,  a.button:hover,  a.checkout_button:hover,  .button:visited,  a.button:visited,  .button:link,  a.button:link,  .button:focus,  a.button:focus,
        .button:active,  a.button:active,
        .reservation_step_current .reservation_step_img
        {
        color:white!important;
        background:$lightblue!important;
    }


    #paging_nav .nav_current_page
    {
        background:$lightblue!important;
    }
    #resources
    {
        max-width:100%;
        .resource_info
        {
            max-width:100%;
        }
    }
}