/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 28 févr. 2018, 17:49:50
    Author     : avelook
*/

/*utilities*/


@media (max-width: 1400px) {

    #masthead
    {
        #mobilemenu
        {
            top: 104px;



            .nav-item
            {
                margin:0;
                padding:0;

                .nav-link:hover
                    {
                    color:white!important;
                }
            }

            .join_us
            {
                margin-left:10px;
                margin-right:10px;
                margin-bottom:20px;
            }
        }


        &.is_sticky
        {
            #mobilemenu
            {
                top:59px;
            }


        }
    }

}


@media (min-width: 1200px) {

    .d-xxl-block
    {
        display:block!important;
    }

    .d-xxl-none
    {
        display:none!important;
    }


    #homebanner
    {
        padding:207px 0;
    }
}


@media (max-width: 1200px) {



    .site-main .owl-carousel
    {
        height:auto;
    }

}

/*INTERMEDIATE DESKTOP*/
@media (min-width: 1200px) and (max-width: 1500px) {

    #page
    {
        margin-top:82px;
    }

    #masthead
    {

        nav.navbar
        {
            padding-left:0;
            padding-right:0;

            .navbar-brand
            {
                margin:0;

                img
                {
                    width: 150px
                }
            }
            .nav-item
            {
                margin-right:5px;
                margin-left:5px;
                .nav-link
                {
                    padding-right:2px!important;
                    padding-right:2px!important;
                }
            }
        }


        .navbar-trustpilot
        {
            display:none!important;
        }

    }



}



/*BIG TABLETS / SMALL DESKTOP */
@media (max-width: 1300px) and (min-width: 980px) {
    .inner_sengine
    {
        margin-left: 15px;
        margin-right:15px;
        padding: 0 30px;
    }

    #homebanner
    {

        background-size: auto 102%;
        &.loaded
        {
            background-size:auto 100% ;
        }

        #search_home #tabproducts
        {

            margin:30px 12px;

            li
            {
                padding-right: 3px;
                padding-left: 3px;
            }

        }

    }

}


/*TABLETS*/



@media (max-width: 980px)  {

    /*general*/
    .container-sm
    {
        padding-left:15px;
        padding-right:15px;
        width:auto;
    }

    .maincontent
    {
        padding-left:15px;
        padding-right:15px;
    }

    .banner
    {
        background-size:auto 100% !important;
        background-position: center top;
    }

    /*full width inner pages*/

    .pfw
    {


        .no-gutters .col-sm-6
        {

            .wpb_text_column.wpb_content_element
            {
                padding:40px 20px;
            }
        }

        .wpb_wrapper .roundedbox:first-child()
            {
            margin-top:40px;
        }

        .col-sm-4
        {

            .roundedbox
            {
                margin-bottom:40px !important;
                min-height: 0;
            }

            .vc_column-inner,.roundedbox,.wpb_wrapper
            {
                height:auto;
            }
        }

    }

    .sectionblock .col-sm-4
    {
        max-width:100%;
        flex:1;
    }


    /*menu*/
    #masthead
    {
        #mobilemenu
        {
            top:61px;


        }
        &.is_sticky
        {
            #mobilemenu
            {
                top:51px;
            }
        }


    }

    .inner_sengine
    {
        padding:0 30px;

        #prod_selector
        {

            .nice-select
            {
                @include br-top();

            }
        }
        .form-group,.nice-select
        {
            margin:0;
        }

    }

    #homebanner
    {
        padding:80px 0;

        background-size:auto 100%;
        &.loaded
        {
            background-size:auto 102%;
        }
    }


    #page
    {
        margin-top:61px;

        /*header*/
        #masthead
        {
            .navbar-trustpilot
            {
                display:none;
            }

            nav.navbar
            {
                justify-content:space-between!important;
                padding-left:0;
                padding-right:0;

                .navbar-brand
                {
                    img
                    {
                        width:100px;
                    }
                }


            }

        }


        /*home*/
        #banner_stats
        {
            padding:40px 0;

            .stat_box
            {
                border:none;
            }
        }

        #homebanner
        {

            p
            {
                font-size:1rem;
                line-height: 1.2rem;
            }
            .head-title
            {
                margin-top: 26px;
                font-size: 1.6rem;
                line-height: 1.6rem;
                margin-bottom: 10px;
            }
            .container
            {
                padding:0;
            }

            #search_home
            {
                margin-top:20px;
                #tabproducts
                {
                    margin:20px 0;
                    a
                    {
                        font-size: 0.7rem;
                    }
                }
            }





            #search_home
            {
                padding:0;
                #tabproducts
                {
                    .col-6
                    {
                        padding:0 10px 10px 0;
                        a
                        {
                            font-size: 0.9rem;
                            padding-left: 11px;
                            padding-right:5px;
                        }
                        img
                        {
                            height: 13px;
                            width: auto;
                            margin-right:5px;
                            display:inline-block;
                        }
                        .text
                        {
                            display:inline-block;

                        }
                    }
                }


                .tab-content
                {
                    .sengine-form
                    {
                        margin:0;
                        .nice-select
                        {
                            margin:0;
                            border-radius:0;
                            border:1px solid $mediumgrey;
                        }
                        .form-group button[type="submit"]
                        {
                            border-radius: 0!important;
                            border-bottom-left-radius: $little_radius !important;
                            border-bottom-right-radius: $little_radius !important;
                        }
                        .form-row > div:first-child .nice-select
                            {
                            border-top-left-radius: $little_radius !important;
                            border-top-right-radius: $little_radius !important;
                        }
                    }

                }
            }


        }


        .col
        {
            flex-basis:auto;
        }
        .inner_sengine
        {


            button[type="submit"]
            {
                border-radius:30px;
            }

            .nice-select
            {
                border:1px solid $mediumgrey;
                border-top:0;
            }

        }




        /*search results*/
        .inner_sengine
        {
            .form-group button[type="submit"]
            {
                border-radius: 0!important;
                border-bottom-left-radius: $little_radius !important;
                border-bottom-right-radius: $little_radius !important;
            }
        }
        .content_search
        {
            .slider
            {
                height:auto!important;
            }

        }



        /*page adresses*/
        .addresses > ul
        {
            border:none;
        }
        .addresses li.head_address
        {
            margin-left:20px;
        }

    }



    #prefooter1
    {
        flex-direction: column;


    }

    #social,#linkth
    {
        margin: 10px auto;
        position:inherit;
        top:auto;
        right:auto;
    }

    .site-footer #footer .container #social
    {
        position:inherit;
        top:auto;
        right:auto;
        padding-top:20px;
        text-align:center;
    }



    #prefooter2
    {
        margin-top:0;
    }
}


/*INTERMEDIAIRE*/
@media (max-width: 768px) {



    /*   #contactbtn_wrapper
       {
           position:fixed;
           bottom:30px;
           width:100%;
           z-index:3;

           #contactbtn
           {
               position:relative;
               margin-left: 20px;
               margin-right: 20px;
               right:auto;
               left:0;
           }
       }*/


    #homebanner
    {
        padding:30px 0;
    }
    #sidebar_right #sb_intro, #sidebar_right #sb_form
    {
        margin-left:15px;
        margin-right:15px;
    }
    .site-footer #prefooter1 #social
    {
        position:static;
    }


    /*page centre*/
    .anchors
    {
        display:none!important;
    }

    #products
    {
        margin-top:1.5rem;
    }

    .site-main .boxed
    {
        padding:15px;
    }



}


@media (max-width: 576px) {
    .wpb_single_image
    {
        img
        {
            max-width:100%!important;
            height:auto!important;
        }
    }

}

/*SMARTPHONES*/
@media (max-width: 480px) {


    .content_search #results_list .item-result
    {
        margin:0;
        border:none;
    }


    #tel_tbc
    {
        font-size:0.9rem !important;
        /*  display:none;*/
    }

    html
    {
        font-size:88%!important;
        line-height:88px;
    }




    /*menu*/
    .title_menu
    {
        /*   display:none;*/
    }

    #masthead nav.navbar .navbar-toggler
    {
        padding: 5px 10px;
    }


    .dropdown-menu > li {
        display: block;
    }


    .sengine-form
    {
        .nice-select
        {

            margin:0;
            border: 1px solid $mediumgrey;
            border-top-left-radius:0!important;
            border-bottom-left-radius:0!important;

        }

    }



    /*search results*/
    .inner_sengine
    {
        padding:0 15px;
    }
    .content_search
    {
        .container
        {
            .slider
            {
                height:180px;
            }
        }

        #results_list
        {
            .item-result
            {
                .item-result-content
                {
                    .wrapper
                    {
                        height:auto;
                    }

                }

            }
        }

    }



    /*page centre*/

    .anchors
    {
        flex-direction: column;

        a
        {
            margin:5px 0;
            margin-left:0;
        }
    }


    /*members*/
    .gv-widget-search
    {
        flex-flow: column wrap!important;

        .gv-search-box
        {
            margin:0;
            flex:0!important;

            width:100%;
            input,select
            {
                width:100%;
            }
        }

        /*  .gv-search-box-submit
          {
              @extend .btn;
              @extend .btn-primary;

              input
              {         border:0;
                        color:white;
                        margin-top:10px;
                        background:transparent;
              }

          }*/

    }

}
