

.inner_sengine
{
    padding:0 10%;
    margin:30px 0;


    #prod_selector
    {

        #prod_wrapper
        {


            &.seb .nice-select
            {
                background-image:url("../images/pic-bureau.png");
            }

            &.sesdr .nice-select
            {
                background-image:url("../images/pic-sdr.png");
            }

            &.seec .nice-select
            {
                background-image:url("../images/pic-coworking.png");
            }

            &.sedom .nice-select
            {
                background-image:url("../images/pic-dom.png");
            }

            .nice-select
            {
                @extend .btn-primary;
                &:hover
                    {
                    color:inherit;
                }
                background-position:30px;
                background-size: auto 24px;
                background-repeat:no-repeat;
                color:inherit;
                padding-left: 88px;

                span
                {
                    color:white;
                }
                &:after
                    {
                    border-color:white;
                }
                border-top-left-radius: 30px ;
                border-bottom-left-radius: 30px ;
            }
        }
    }

    .nice-select
    {
        border-top:1px solid $mediumgrey;
        border-bottom:1px solid $mediumgrey;


    }

    .sengine-form .form-row > div:first-child .nice-select
        {

        border-top-left-radius:0!important;
        border-bottom-left-radius:0!important;
    }
}

#results_banner
{
    background-position: center 60%!important;
    height:260px;
    overflow:hidden;
    position:relative;

    h2
    {
        font-size:1.4rem;
        font-weight:500;
    }
    .overlay
    {
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        position:absolute;
        z-index: 1;
    }
    .container
    {
        position:relative;
        z-index:2;
    }
}

.content_search
{
    padding:0 4%;

    .item-result
    {

        width:100%;

        .owl-item
        {

            .item{ display: block;
                   width: 100%;
                   height:100%;
                   background-position: center center;
                   -webkit-background-size: cover;
                   -moz-background-size: cover;
                   -o-background-size: cover;
                   background-size: cover;

                   a
                   {
                       display:block;
                       height:100%;
                       width:100%;

                   }
            }
        }


        &.vertical
        {
            .owl-item
            {

            }
        }


    }


    #results_list
    {

        .btn
        {
            padding: 0.5rem .75rem;
        }
        .item-result
        {
            margin-bottom:30px;

            .item-result-content
            {
                padding: 20px 35px;

                .wrapper
                {
                    height:250px;



                    .third-part-service
                    {
                        background:url('../images/arrow-right-blue.png') no-repeat $lightgrey right;
                        background-size: 20px;
                        background-position: right 20px center;
                    }

                    .centerselect
                    {
                        position:relative;

                        text-align: left;
                        padding-left: 21px;
                        font-size: 14px;
                        line-height: 26px;


                        .ios-ui-select
                        {
                            position:absolute;
                            right:11px;
                            height:26px;
                            width:46Px;
                            background:white;
                            border:1px solid $mediumgrey!important;

                            .inner
                            {
                                height:19px;
                                width:19px;
                                box-shadow:none;
                                background:$mediumgrey;

                            }
                        }
                        &.checked
                        {

                            .ios-ui-select
                            {
                                box-shadow:none;
                                background:white;

                                .inner
                                {

                                    background:$green;
                                    left:22px;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    &.container
    {

        .slider
        {
            /*  height:326px !important;*/
        }


        .item-result
        {
            border:1px solid $mediumgrey;
            .item-result-content
            {
                border:none!important;
            }
        }

    }

}
